<ion-view view-title="首页">
  <ion-content class="padding">
    <ion-slide-box does-continue="true" auto-play="true" slide-interval="3000">
      <ion-slide  ng-repeat="banner in ['fdsfs','fsdff']" >
        <div style="width: 100vw;height:100px" > <img ng-src="{{basePath}}{{banner.file_path}}" style="width: 100%;height: 100px " /></div>
      </ion-slide>
    </ion-slide-box>
    <div class="container-fluid">
        <div class="row" id="search_page">

            <div class="col-xs-7" style="width:100%;color: #777;font-size: 18px;line-height: 20px;text-decoration: none;margin-top:10px;text-align:center;">
                <span>丁蜀镇义仓物资追踪系统</span>
            </div>

            <div class="col-xs-7" style="margin-top:20px;width:100%;">
                <input id="number" type="text" placeholder="请输入志愿者编号" class="form-control"/>
            </div>

        </div>
    </div>

    <div style="width:100%;" id="nearby_donate_page">
        <div class="title">
            <span>最近捐赠</span>
            <a href="/donator.html" style="float:right;">查询志愿者编号</a>
        </div>
        <div class="good-tab-list container-fluid" id="nearby_donate">
        </div>
    </div>
  </ion-content>
</ion-view>
