<ion-view title="意见反馈">
  <ion-content style="width: 100%;height: 100%">

    <div style="width: 100%;height: 100%;padding: 15px">

      <p style="margin-top: 5px">欢迎反馈，感谢您的用心反馈!</p>

      <label class="item item-input">
        <textarea id="feedback_content" rows="5" textarea-auto="true" placeholder="反馈内容..."></textarea>
      </label>

      <p style="padding-top: 15px">联系方式：</p>

      <label class="item item-input">
        <input id="feedback_contact" type="text" placeholder="邮箱/手机" >

      </label>


      <button class="button button-stable" style="margin-top: 15px;background: darkgray; width: 100%" ng-click="commit()">提交</button>

    </div>




  </ion-content>
</ion-view>
